<template name="views_account_authorize">
    <!-- we use a form, which posts into the "dapp-form-helper-iframe" iframe, so that the browser stores inout fields for native autocpmplete -->
    <form class="container new-account" action="about:blank" target="dapp-form-helper-iframe" autocomplete="on">

        <h1>{{{i18n 'wallet.authMultiSig.title'}}}</h1>

        <h2>{{i18n 'wallet.authMultiSig.accountName'}}</h2>

        <div class="row clear">
            <div class="indented-box">
                <div class="dapp-address-input">
                    <input type="text" readonly name="accountName" value="{{selectedAccount.account_name}}" autocomplete="name" />
                </div>
            </div>
        </div>

        <h2>{{i18n 'wallet.authMultiSig.multisigSigneesTitle'}}</h2>

        <div class="row clear">
            <div class="indented-box">
                <p>{{i18n 'wallet.newWallet.accountType.multisig.text1'}} {{> InlineForm name="multisigSignees" items=multisigSignees
                    value=(TemplateVar.get "multisigSignees")}} {{i18n 'wallet.newWallet.accountType.multisig.text2'}} {{>
                    InlineForm name="multisigSignatures" items=multisigSignatures value=(TemplateVar.get "multisigSignatures")}}
                    {{i18n 'wallet.newWallet.accountType.multisig.text5'}}</p>

                <h4>{{i18n 'wallet.newWallet.accountType.multisig.accountOwnersTitle'}}</h4>

                {{#each signees}} 
                    {{> dapp_addressInput placeholder=i18nOwnerAddress class="owners" value=(this)}} 
                {{/each}}
            </div>
        </div>

        <div class="row clear">
            <div class="indented-box">

                <h2>{{i18n 'wallet.newWallet.password.input'}}</h2>

                <div class="dapp-address-input">
                    <input type="password" name="password" autofocus="true" autocomplete="password"/>
                </div>

            </div>

            <div class="dapp-clear-fix"></div>
        </div>
        <hr>

        <!-- button type="submit" will send the form -->
        <button type="submit" class="dapp-block-button">
            {{#if TemplateVar.get "sending"}} {{i18n 'buttons.sending'}} {{else}} {{i18n 'buttons.save'}} {{/if}}
        </button>

    </form>

</template>