<template name="authorized">
    <form class="auth-form" action="about:blank" target="dapp-form-helper-iframe" autocomplete="on">
        <div class="row clear">
            <div class="col col-12 mobile-full">
                {{#with title}}
                    <h4>{{string}}</h4>
                {{else}}
                    <h3>{{i18n 'wallet.newWallet.password.input'}}</h3>
                {{/with}}
                <input type="password" name="password" placeholder="{{i18n 'wallet.newWallet.password.input'}}" autofocus="true" autocomplete="password" />
            </div>
            <div class="dapp-clear-fix"></div>
        </div>


        <!-- a button type="submit" will send the form -->

        <button type="submit" class="dapp-block-button">
            {{i18n 'buttons.ok'}}
        </button>
    </form>
</template>