<template name="generateKey">
  <h1>{{{i18n 'wallet.newAccount.writedown'}}}</h1>

  <h2>{{{i18n 'wallet.newAccount.accountName'}}}</h2>
  <input type="text" readonly name="accountName" value="{{accountName}}" autocomplete="accountName" />
  <h2>{{{i18n 'wallet.newAccount.publicKey'}}}</h2>
  <input type="text" readonly name="publicKey" value="{{publicKey}}" />
  <h2>{{{i18n 'wallet.newAccount.privateKey'}}}</h2>
  <input type="text" readonly name="privateKey" value="{{privateKey}}" />

  <hr>

  <h1>{{{i18n 'wallet.newAccount.transferTitle'}}}</h1>
  <p> {{i18n 'wallet.newAccount.transfer' accountName }} </p>

  <hr>

  <button name="btn_back" class="dapp-block-button">{{i18n 'buttons.back'}}</button>
</template>