<template name="views_modals_sendTransactionInfo">
        <h1>
            {{i18n "wallet.send.sendInfoTitle"}}
            <br>
            {{amount}}
        </h1>
        <p>
            {{> elements_account_link name=from}}
        </p>
        <i class="icon-arrow-down"></i>
        <p>
            {{> elements_account_link name=to}}
        </p>
    
        {{#if memo}}
            <hr>
    
            <p class="tx-info">
                <small>{{i18n "wallet.send.data"}}</small>
                <pre>{{memo}}</pre>
            </p>
        {{/if}}
    
    </template>