<template name="views_account_create">
        <!-- we use a form, which posts into the "dapp-form-helper-iframe" iframe, so that the browser stores inout fields for native autocpmplete -->
    <form class="container new-account" action="about:blank" target="dapp-form-helper-iframe" autocomplete="on">
            
        <h1>{{{i18n 'wallet.newWallet.title'}}}</h1>

        <h2>{{i18n 'wallet.newWallet.accountType.title'}}</h2>
        
        <div class="row clear">
            <label>
                <input type="radio" name="accountType" value="simple" {{simpleCheck}} />
                <h3>{{i18n 'wallet.newWallet.accountType.simple.title'}}</h3>
                <span>{{i18n 'wallet.newWallet.accountType.simple.description'}}</span>
                {{#if showSection "simple"}}
                    <input type="text" name="accountName" placeholder="{{i18n 'wallet.newWallet.accountName'}}" autofocus="true" autocomplete="accountName" />
                {{/if}}
            </label>
            {{#if showSection "simple"}}
                <div class="indented-box">
                   <br><span>{{i18n 'wallet.newWallet.accountType.simple.warning'}}</span>
                </div>
            {{/if}}
        </div>

        <div class="row clear">
            <label>
                <input type="radio" name="accountType" value="import" />
                <h3>{{i18n 'wallet.newWallet.accountType.import.title'}}</h3>
                <span>{{i18n 'wallet.newWallet.accountType.import.description'}}</span>
            </label>
            {{#if showSection "import"}}
                <div class="indented-box">
                    <br>
                    <div class="dapp-address-input">
                        <input type="password" name="privateKey" placeholder="{{i18nPrivateKey}}" class="import" autocomplete="password" >
                    </div>
                </div>
            {{/if}}
        </div>

        <h2>{{i18n 'wallet.newWallet.password.title'}}</h2>

        <input type="password" name="password" placeholder="{{i18n 'wallet.newWallet.password.newPassword'}}" autofocus="true" autocomplete="password"  />
        <input type="password" name="rePassword" placeholder="{{i18n 'wallet.newWallet.password.rePassword'}}" autofocus="true" autocomplete="rePassword" />

        <hr>

        <button type="submit" class="dapp-block-button">
            {{#if TemplateVar.get "sending"}} {{i18n 'buttons.sending'}} {{else}} {{i18n 'buttons.create'}} {{/if}}
        </button>
    </form>

</template>