<template name="views_account">
    {{#with account}}

    <div class="dapp-container accounts-page">
        <div class="accounts-page-summary">
            {{> dapp_identicon identity=account_name}}
            <header class="{{ensClass}}">
                <h1>
                    {{#if ens}}
                    <span>{{account_name}}</span>
                    {{else}}
                    <em class="edit-name">{{account_name}}</em>
                    {{/if}}
                </h1>

                {{#each permissions}}
                <h1></h1>
                <h2 class="copyable-address">{{walletIcon}}
                    <b>{{perm_name}}</b><span>(threshold {{required_auth.threshold}})</span>
                    <br /> {{#each required_auth.keys}}
                    <span>{{key}}</span>
                    {{/each}}
                    <ul>
                        {{#each required_auth.accounts}}
                        <li><a href="{{pathFor route='account' name=(permission.actor)}}">{{permission.actor}}</a> (weight
                            {{weight}})
                        </li>
                        {{/each}}
                    </ul>
                </h2>
                {{/each}}

            </header>

            <div class="accounts-items">
                <div class="data-table">
                    <div class="data-flex">
                        <div class="data-item">
                            <div class="data-value medium">
                                {{> eos_amount amount=formattedBalance }}
                            </div><label>{{i18n "wallet.account.info.UnstakedBalance"}}</label>
                        </div>
                        <div class="data-item">
                            <div class="data-value medium">
                                {{> eos_amount amount=refundBalance }}
                            </div><label>{{i18n "wallet.account.info.RefundBalance"}}</label>
                        </div>
                        <div class="data-item">
                            <div class="data-value medium">
                                {{> eos_amount amount=(total_resources.cpu_weight) }}
                            </div><label>{{i18n "wallet.account.info.CPUStake"}}</label>
                        </div>
                        <div class="data-item">
                            <div class="data-value medium">
                                {{> eos_amount amount=(total_resources.net_weight) }}
                            </div><label>{{i18n "wallet.account.info.NETStake"}}</label>
                        </div>
                    </div>
                    <div class="data-flex">
                        <div class="data-item">
                            <div class="data-value medium">
                                <div title="{{ progress ram_usage ram_quota 2 }}" class="progress">
                                    <div role="progressbar" class="progress-bar" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress ram_usage ram_quota 3 }};"></div>
                                </div>{{ ramToString ram_usage }}<span class="light"> / {{ ramToString ram_quota }}</span>
                            </div>
                            <label>{{i18n "wallet.account.info.RAMUsage"}}</label>
                        </div>
                        <div class="data-item">
                            <div class="data-value medium">
                                <div title="{{ progress cpu_limit.used cpu_limit.max 2 }}" class="progress">
                                    <div role="progressbar" class="progress-bar" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress cpu_limit.used cpu_limit.max 3 }};"></div>
                                </div>
                                <span data-full-string="cpu_limit.used">{{cpu_limit.used}}</span> µs
                                <span class="light"> / <span data-full-string="cpu_limit.max">{{cpu_limit.max}}</span> µs</span>
                            </div>
                            <label>{{i18n "wallet.account.info.CPUUsage"}}</label>
                        </div>
                        <div class="data-item">
                            <div class="data-value medium">
                                <div title="{{ progress net_limit.used net_limit.max 2 }}" class="progress">
                                    <div role="progressbar" class="progress-bar" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress net_limit.used net_limit.max 3 }};"></div>
                                </div>
                                <span data-full-string="net_limit.used">{{ net_limit.used }}</span> KB
                                <span class="light"> / <span data-full-string="net_limit.max">{{ net_limit.max }}</span>
                                    KB</span>
                            </div>
                            <label>{{i18n "wallet.account.info.NETUsage"}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <aside class="dapp-actionbar">
            <nav>
                <ul>
                    <li>
                        <button class="buy-button">
                            <i class="icon-directions"></i>
                            {{i18n "wallet.accounts.buttons.buyRAM"}}
                        </button>
                    </li>
                    <li>
                        <button class="stake-button">
                            <i class="icon-layers"></i>
                            {{i18n "wallet.accounts.buttons.stake"}}
                        </button>
                    </li>
                    <li>
                        <button class="authorize-button">
                            <i class="icon-note"></i>
                            {{i18n "wallet.accounts.buttons.authorize"}}
                        </button>
                    </li>
                    <li>
                        <button class="exportKey-button">
                            <i class="icon-key"></i>
                            {{i18n "wallet.accounts.buttons.exportKey"}}
                        </button>
                    </li>
                    <li>
                        <button class="remove-button">
                            <i class="icon-trash"></i>
                            {{i18n "wallet.accounts.buttons.remove"}}
                        </button>
                    </li>
                </ul>
            </nav>
        </aside>

        <div class="accounts-transactions">

            {{#if transactions}}
                <h2>{{i18n 'wallet.transactions.latest'}}</h2>
                {{> elements_transactions_table ids=transactions account=_id}} 
            {{/if}}

        </div>
    </div>
    {{/with}}
</template>