<template name="views_dashboard">
    
    <div class="dapp-container">

        <h1>{{{i18n "wallet.accounts.title"}}}</h1>
        
        {{#if hasAccounts}}

        <h2>{{i18n "wallet.accounts.accountsTitle"}}</h2>

        <div class="dapp-clear-fix"></div>

        <div class="wallet-box-list">
            {{#each accounts}} {{> elements_account }} {{/each}}
        </div>

        {{> elements_new_account_button }}


        {{else}}
        <div class="col col-5 mobile-full ">
            <br>
            {{> elements_new_account_button }}
        </div>
        <div class="col col-5 mobile-full ">
            <h3>{{i18n "wallet.app.texts.noAccounts.title"}}</h3>
            <p>{{i18n "wallet.app.texts.noAccounts.text"}}</p>
        </div>
        {{/if}}

        <div class="dapp-clear-fix"></div>
        <div class="select-chain-container">
            <select name="chain_node" value={{chain_node}}>
                {{#each chain_nodes}}
                <option value="{{this}}" {{selected this}}>
                    {{this}}
                </option>
                {{/each}}
            </select>
        </div>
        
        <div class="dapp-clear-fix"></div>
        <div class="version-container">
            <p><span>v.{{version}}</span></p>
        </div>
    
    </div>

</template>