<template name="elements_account">
    {{#with account}}
        <a href="{{pathFor route='account' name=account_name}}" class="wallet-box {{#if or creating loading}}creating{{/if}} {{#if disabled}}disabled{{/if}} {{#if new}}new{{/if}}">
            {{#unless ../main}}
                <!-- <div class="account-pattern"> -->
                {{#if account_name}}
                    {{> dapp_identicon identity=account_name class="dapp-small"}}
                {{else}}
                    <span class="dapp-identicon dapp-small dapp-icon-loading"></span>
                {{/if}}
                <!-- </div> -->
            {{else}}
                <div class="account-pattern">
                    {{#if account_name}}
                        {{> dapp_identicon identity=account_name class="dapp-small"}}
                    {{else}}
                        {{> spinner}}
                    {{/if}}
                </div>
            {{/unless}}

            <h3 class="not-ens-name">
                <span class="red">
                    {{#if isMultiSig this }}
                        <i class="icon-key"></i>
                    {{else}}
                        <i class="icon-user"></i>
                    {{/if}}
                    {{account_name}}
                </span>
            </h3>
            
            <span class="account-id">{{publicKey}}</span>                

            {{#unless creating}}
                {{> elements_balance balance=formattedTokenBalance}}
            {{else}}
                {{#if imported}}
                    <span class="account-balance">{{i18n "wallet.accounts.importing"}} <span>...</span></span>
                {{else}}
                    <span class="account-balance">{{i18n "wallet.accounts.creating"}} <span>...</span></span>
                {{/if}}
            {{/unless}}
        </a>

        {{#if creating}}
            <button class="wallet-box-remove" data-name="{{account_name}}"><span class="icon-trash"></span></button>
        {{/if}}

    {{/with}}
</template>