<template name="stake">
    <h1>{{{i18n 'wallet.send.stakeTitle'}}}</h1>

    <div class="row clear">
        <div class="col col-3 mobile-full">
            <label>
                <input type="radio" value="stake" name="choose-type" checked="{{checked 'stake' }}" />
                <h3>{{{i18n 'wallet.send.stakeTo'}}}</h3>
            </label>
        </div>
        <div class="col col-3 mobile-full">
            <label>
                <input type="radio" value="unstake" name="choose-type" checked="{{checked 'unstake' }}" />
                <h3>{{{i18n 'wallet.send.unstakeTo'}}}</h3>
            </label>
        </div>
    </div>
    {{#if $eq (TemplateVar.get "send_type") "stake" }}

    <form class="stake-form" action="about:blank" target="dapp-form-helper-iframe" autocomplete="on">
        <!-- from/to -->
        <div class="row clear from-to">
            <div class="col col-4 mobile-full from">
                <h3>{{i18n 'wallet.send.from'}}</h3>

                {{> dapp_selectAccount accounts=(selectAccounts) class='send-from'}}

                <div class="indented-box">
                    <br> 
                    {{#if isMultiSig}} 
                        <span>{{i18n 'wallet.send.showNotice'}} </span>
                        <br> 
                        
                        {{> dapp_selectAccount accounts=(selectAccounts) class='send-proposer'}}
                        
                    {{else}} 
                        <span>&nbsp;</span> 
                    {{/if}}
                </div>
            </div>

            <div class="col col-4 mobile-full">
                <h3>{{i18n 'wallet.send.to'}}</h3>

                <div class="dapp-address-input">
                    <input type="text" name="to" placeholder="" class="to" autofocus="true">
                </div>
            </div>

            <div class="dapp-clear-fix"></div>
        </div>
    </form>
    {{/if}}

    {{#if $eq (TemplateVar.get "send_type") "unstake" }}
    <form class="unstake-form" action="about:blank" target="dapp-form-helper-iframe" autocomplete="on">

    </form>
    {{/if}}

</template>