<template name="elements_proposal_table">
    {{#if hasItems}}
    <div class="accounts-transactions">
        <h2>{{i18n 'wallet.proposals.latest'}}</h2>

        <table class="dapp-zebra transactions">
            <tbody>
                {{#each items}} {{> elements_proposals_row}} {{else}}
                <tr class="full-width">
                    <td colspan="5">
                        {{! > spinner}} {{i18n "wallet.transactions.noneFound"}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}
</template>

<template name="elements_proposals_row">
    {{#if $eq done false }}
    <tr data-action-seq="{{account_action_seq}}">

        <td class="trx-type">
            <p>
                <span>
                    TX#{{parseTrascationId action_trace.trx_id}}
                </span>
            </p>
        </td>
        <td class="trx-type">
            <p>
                <span>
                    <strong>{{> elements_account_link name=(action_trace.act.data.proposer)}}</strong> {{i18n "wallet.transactions.message.proposed"}}
                </span>
                <span>{{i18n "wallet.transactions.message.proposal"}} <i class="icon-support"></i><strong>{{action_trace.act.data.proposal_name}}</strong></span>
            </p>
            {{#each action_trace.act.data.trx.actions}}
            <p>
                <td><i class="fa fa-quote-left"></i></td>
                <td><h3>{{i18n typeName }}</h3></td>

                {{#if $eq name "transfer"}}
                    {{> elements_proposals_row_transfer item=this}}
                {{/if}}

                <td><i class="fa fa-quote-right"></i></td>
            </p>
            {{/each}}
            <p>
                {{#with getApproval action_trace.act.data.proposer action_trace.act.data.proposal_name}}
                    {{#each provided_approvals}}
                    <span class="approval-provided" style="color:#8bc34a">
                        <i class="fa fa-check"></i><a href="{{pathFor route='account' name=(actor)}}" style="color:#8bc34a">{{actor}}</a> 
                    </span>
                    {{/each}}
                    {{#each requested_approvals}}
                    <span>
                        <i class="fa fa-user-times" style="color:rgba(130, 122, 122, 0.7)"></i><a href="{{pathFor route='account' name=(actor)}}" style="color:rgba(130, 122, 122, 0.7)">{{actor}}</a>
                    </span>
                    {{/each}}
                {{/with}}
            </p>
        </td>
        <td class="trx-type button">
            <!-- {{#unless approved}}
            <td class="button">
                <button class="dapp-block-button approve">
                    {{i18n "wallet.transactions.buttons.approve"}}
                </button>
            </td><td class="button">
                <button class="dapp-block-button revoke">
                    {{i18n "wallet.transactions.buttons.revoke"}}
                </button>
            </td>
            {{else}} -->
            <td class="button" colspan="2">
                <button class="dapp-block-button approve">
                    {{i18n "wallet.transactions.buttons.approve"}}
                </button>
            </td>
            <!-- {{/unless}} -->
        </td>
    </tr>
    {{/if}}
</template>


<template name="elements_proposals_row_transfer">
    {{#with item}}
    <td class="account-name">
        <p>
            <strong>
            {{> elements_account_link name=(origin_data.from)}}
            </strong>

            <span class="arrow">→</span> 

            {{#if origin_data.to}}
                {{> elements_account_link name=(origin_data.to)}}
            {{/if}}
        </p>
    </td>

    <td class="transaction-amount plus">
        <strong>{{origin_data.quantity}}</strong>
    </td>
    
    <td class="memo">
        {{#if origin_data.memo}}
            <pre><strong>MEMO:</strong>{{origin_data.memo}}</pre>
        {{/if}}
    </td>
    {{/with}}
</template>
    