<template name="elements_transactions_table">
    <table class="dapp-zebra transactions">
        <tbody>
            {{#each items}}
                {{> elements_transactions_row}}
            {{else}}
                <tr class="full-width">
                    <td colspan="5">
                        {{! > spinner}}
                        {{i18n "wallet.transactions.noneFound"}}
                    </td>
                </tr>
            {{/each}}

            {{#if hasMore}}
                <tr class="tr-command">
                    <td colspan="10">
                        <button class="show-more">{{i18n "wallet.transactions.showMore"}}</button>
                    </td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</template>

<template name="elements_transactions_row">
    <tr data-action-seq="{{account_action_seq}}">
        
        <td class="time simptip-position-right simptip-movable" data-tooltip="{{formatTime block_time 'LLLL'}}">
            <h2>{{formatTime block_time "MMM"}}</h2>
            <p>{{formatTime block_time "D"}}</p>
        </td>
        <td class="trx-type">
            <h3>{{action_trace.act.name}}</h3>
            <p>
                <span>
                    TX#{{parseTrascationId action_trace.trx_id}}
                </span>
            </p>
        </td>
        
        {{#if $eq action_trace.act.name "transfer"}}
            {{> elements_transactions_row_transfer item=this}}

        {{else if $eq action_trace.act.name "updateauth"}}
            {{> elements_transactions_row_updateauth item=this}}

        {{else if $eq action_trace.act.name "propose"}}
            {{> elements_transactions_row_propose item=this}}

        {{else if $eq action_trace.act.name "approve"}}
            {{> elements_transactions_row_approve item=this}}

        {{else if $eq action_trace.act.name "unapprove"}}
            {{> elements_transactions_row_unapprove item=this}}

        {{else if $eq action_trace.act.name "exec"}}
            {{> elements_transactions_row_exec item=this}}

        {{else if $eq action_trace.act.name "delegatebw"}}
            {{> elements_transactions_row_delegatebw item=this}}

        {{else if $eq action_trace.act.name "undelegatebw"}}
            {{> elements_transactions_row_undelegatebw item=this}}

        {{else if $eq action_trace.act.name "buyram"}}
            {{> elements_transactions_row_buyram item=this}}

        {{else if $eq action_trace.act.name "buyrambytes"}}
            {{> elements_transactions_row_buyrambytes item=this}}

        {{else if $eq action_trace.act.name "sellram"}}
            {{> elements_transactions_row_sellram item=this}}

        {{else if $eq action_trace.act.name "newaccount"}}
            {{> elements_transactions_row_newaccount item=this}}

        {{else}}
            <td class="transaction-data" colspan="3">
                <pre>
                {{> jsonView json=(parseJSON action_trace.act.data) options=jsonOptions }}
                </pre>
            </td>
        {{/if}}
    </tr>
</template>

<template name="elements_transactions_row_transfer">
    {{#with item}}
    <td class="account-name" style="min-width:280px">
        <p>
            {{#if $eq action_trace.receipt.receiver action_trace.act.data.from}}
            <strong>
            {{> elements_account_link name=(action_trace.act.data.from)}}
            </strong>
            {{else}}
            {{> elements_account_link name=(action_trace.act.data.from)}}
            {{/if}}

            <span class="arrow">→</span> 

            {{#if action_trace.act.data.to}}
                {{#if $eq action_trace.receipt.receiver action_trace.act.data.to}}
                <strong>
                {{> elements_account_link name=(action_trace.act.data.to)}}
                </strong>
                {{else}}
                {{> elements_account_link name=(action_trace.act.data.to)}}
                {{/if}}
            {{/if}}
        </p>
    </td>

    {{#if isIncoming}}
        <td class="transaction-amount plus">
            <strong>{{action_trace.act.data.quantity}}</strong>
        </td>
    {{else}}
        <td class="transaction-amount minus">
            -<strong>{{action_trace.act.data.quantity}}</strong>
        </td>
    {{/if}}
    
    <td class="memo">
        {{#if action_trace.act.data.memo}}
            <pre><strong>MEMO:</strong>{{action_trace.act.data.memo}}</pre>
        {{/if}}
    </td>
    {{/with}}
</template>

<template name="elements_transactions_row_updateauth">
    {{#with item}}
    <td class="account-name">
        <h3>{{walletIcon}} {{action_trace.act.data.permission}}</h3>
    </td>
    <td class="" colspan="2">
        {{#each action_trace.act.data.auth.accounts}}
            <strong>{{> elements_account_link name=(permission.actor)}}</strong>
        {{/each}}
        {{#each action_trace.act.data.auth.keys}}
            <label>{{walletIcon}}{{key}} </label>
        {{/each}}
    </td>
    {{/with}}
</template>

<template name="elements_transactions_row_propose">
    {{#with item}}
    <td class="account-name" colspan="3">
        <strong>{{> elements_account_link name=(action_trace.act.data.proposer)}}</strong> proposed
        <span><i class="icon-support"></i> {{action_trace.act.data.proposal_name}}</span>
    </td>
    {{/with}}
</template>

<template name="elements_transactions_row_approve">
    {{#with item}}
    <td class="account-name" colspan="3">
        <strong>{{> elements_account_link name=(action_trace.act.data.level.actor)}}</strong> approved
        <span>{{> elements_account_link name=(action_trace.act.data.proposer)}}'s </span>
        <span><i class="icon-support"></i>{{action_trace.act.data.proposal_name}}</span>
    </td>
    {{/with}}
</template>

<template name="elements_transactions_row_unapprove">
    {{#with item}}
    <td class="account-name" colspan="3">
        <strong>{{> elements_account_link name=(action_trace.act.data.level.actor)}}</strong> unapproved
        <span>{{> elements_account_link name=(action_trace.act.data.proposer)}}'s </span>
        <span><i class="icon-support"></i>{{action_trace.act.data.proposal_name}}</span>
    </td>
    {{/with}}
</template>

<template name="elements_transactions_row_exec">
    {{#with item}}
    <td class="account-name" colspan="3">
        <strong>{{> elements_account_link name=(action_trace.act.data.executer)}}</strong> exec
        <span>{{> elements_account_link name=(action_trace.act.data.proposer)}}'s </span>
        <span><i class="icon-support"></i>{{action_trace.act.data.proposal_name}}</span>
    </td>
    {{/with}}
</template>

<template name="elements_transactions_row_delegatebw">
    {{#with item}}
    <td class="account-name" colspan="3">
        <strong>{{> elements_account_link name=(action_trace.act.data.from)}}</strong> delegated for
        <span>{{> elements_account_link name=(action_trace.act.data.receiver)}}: </span>
        <strong>{{action_trace.act.data.stake_net_quantity}}</strong> for NET and
        <strong>{{action_trace.act.data.stake_cpu_quantity}}</strong> for CPU
    </td>
    {{/with}}
</template>

<template name="elements_transactions_row_undelegatebw">
        {{#with item}}
        <td class="account-name" colspan="3">
            <strong>{{> elements_account_link name=(action_trace.act.data.from)}}</strong> undelegated from
            <span>{{> elements_account_link name=(action_trace.act.data.receiver)}}: </span>
            <strong>{{action_trace.act.data.unstake_net_quantity}}</strong> for NET and
            <strong>{{action_trace.act.data.unstake_cpu_quantity}}</strong> for CPU
        </td>
        {{/with}}
</template>
    
<template name="elements_transactions_row_buyram">
    {{#with item}}
    <td class="account-name" colspan="3">
        <strong>{{> elements_account_link name=(action_trace.act.data.payer)}}</strong> bought
        <strong>{{action_trace.act.data.quant}}</strong> of RAM for
        <span>{{> elements_account_link name=(action_trace.act.data.receiver)}}</span>
    </td>
    {{/with}}
</template>

<template name="elements_transactions_row_buyrambytes">
    {{#with item}}
    <td class="account-name" colspan="3">
        <strong>{{> elements_account_link name=(action_trace.act.data.payer)}}</strong> bought
        <strong>{{action_trace.act.data.bytes}} bytes</strong> of RAM for
        <span>{{> elements_account_link name=(action_trace.act.data.receiver)}}</span>
    </td>
    {{/with}}
</template>
    
<template name="elements_transactions_row_sellram">
    {{#with item}}
    <td class="account-name" colspan="3">
        <strong>{{> elements_account_link name=(action_trace.act.data.account)}}</strong> sold
        <strong>{{action_trace.act.data.bytes}}</strong> bytes
    </td>
    {{/with}}
</template>
    
<template name="elements_transactions_row_newaccount">
    {{#with item}}
    <td class="account-name" colspan="3">
        <strong>{{> elements_account_link name=(action_trace.act.data.creator)}}</strong> created account
        <span>{{> elements_account_link name=(action_trace.act.data.name)}}</span>
    </td>
    {{/with}}
</template>