<template name="elements_transactions_table">
    <table class="dapp-zebra transactions">
        <tbody>
            {{#each items}}
                {{> elements_transactions_row}}
            {{else}}
                <tr class="full-width">
                    <td colspan="5">
                        {{! > spinner}}
                        {{i18n "wallet.transactions.noneFound"}}
                    </td>
                </tr>
            {{/each}}

            {{#if hasMore}}
                <tr class="tr-command">
                    <td colspan="10">
                        <button class="show-more">{{i18n "wallet.transactions.showMore"}}</button>
                    </td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</template>

<template name="elements_transactions_row">
    <tr data-action-seq="{{account_action_seq}}">
        
        <td class="time simptip-position-right simptip-movable" data-tooltip="{{formatTime block_time 'LLLL'}}">
            <h2>{{formatTime block_time "MMM"}}</h2>
            <p>{{formatTime block_time "D"}}</p>
        </td>
        <td class="trx-type">
            <h3>{{action_trace.act.name}}</h3>
            <p>
                <span>
                    TX#{{parseTrascationId action_trace.trx_id}}
                </span>
            </p>
        </td>
        
        {{#if $eq action_trace.act.name "transfer"}}
            <td class="account-name">
                <p>
                    {{#if $eq action_trace.receipt.receiver action_trace.act.data.from}}
                    <strong>
                    {{> elements_account_link name=(action_trace.act.data.from)}}
                    </strong>
                    {{else}}
                    {{> elements_account_link name=(action_trace.act.data.from)}}
                    {{/if}}

                    <span class="arrow">→</span> 

                    {{#if action_trace.act.data.to}}
                        {{#if $eq action_trace.receipt.receiver action_trace.act.data.to}}
                        <strong>
                        {{> elements_account_link name=(action_trace.act.data.to)}}
                        </strong>
                        {{else}}
                        {{> elements_account_link name=(action_trace.act.data.to)}}
                        {{/if}}
                    {{/if}}
                </p>
            </td>

            {{#if isIncoming}}
                <td class="transaction-amount plus">
                    <strong>{{action_trace.act.data.quantity}}</strong>
                </td>
            {{else}}
                <td class="transaction-amount minus">
                    -<strong>{{action_trace.act.data.quantity}}</strong>
                </td>
            {{/if}}
            
            <td class="memo">
                {{#if action_trace.act.data.memo}}
                    <pre><strong>MEMO:</strong>{{action_trace.act.data.memo}}</pre>
                {{/if}}
            </td>

        {{else}}
            <td class="transaction-data" colspan="3">
                <pre>
                {{> jsonView json=(parseJSON action_trace.act.data) options=jsonOptions }}
                </pre>
            </td>
        {{/if}}
    </tr>
</template>

